<div>
  <input class="form__input-text form__input--autocomplete"
         ng-model="term"
         ng-change="query()"
         type="text"
         autocomplete="off" 
         autofocus />
  <div class="form__desc autocomplete" ng-transclude></div>
</div>
