<dl class="node-infos-book">
  <dt class="node-infos-book__title" ng-if="info.address">
    <i class="fa fa-map-o"><span class="hidden">Adresse</span></i>
  </dt>
  <dd class="node-infos-book__definition" ng-if="info.address">
    <p ng-bind-html="info.address | toLines"></p>
  </dd>
  <dt class="node-infos-book__title" ng-if="info.phone">
    <i class="fa fa-phone"><span class="hidden">Téléphone</span></i>
  </dt>
  <dd class="node-infos-book__definition" ng-if="info.phone">
    <p>{{::info.phone}}</p>
  </dd>
  <dt class="node-infos-book__title" ng-if="info.url">
    <i class="fa fa-link"><span class="hidden">Lien</span></i>
  </dt>
  <dd class="node-infos-book__definition">
    <a target="blank" href="{{::info.url}}">{{::info.url}}</a>
  </dd>
  <dt class="node-infos-book__title" ng-if"info.opening_hours">
    <i class="fa fa-clock-o"><span class="hidden">Horaires d'ouverture</span></i>
  </dt>
  <dd class="node-infos-book__definition" ng-if="info.opening_hours">
    <p ng-bind-html="info.opening_hours | toLines"></p>
  </dd>
</dl>
