<div class="node-infos-cerfa">
  <h3 class="node-infos-cerfa__title">
    <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>{{ info.text || info.url }}</h3>
  <div class="node-infos-cerfa__blocks">
    <div class="node-infos-cerfa__block">
      <a href="https://api.juriservice.net/cerfa/{{info.id}}"
         class="node-infos-cerfa__bt" target="_blank">
          <i class="fa fa-wpforms" aria-hidden="true"></i>
          Je télécharge le <b>formulaire</b>
      </a>
      <!-- <br /><span>pdf - 125ko</span> -->
    </div>
    <div class="node-infos-cerfa__block" ng-if="info.notice_id">
      <a href="https://api.juriservice.net/cerfa/{{info.id}}/notice/{{info.notice_id}}" 
         class="node-infos-cerfa__bt" target="_blank">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          Je télécharge la <b>notice</b>
      </a>
      <!-- <br /><span>pdf - 227ko</span> -->
    </div>
  </div>
</div>
