<form name="form" ng-controller="radioCtrl as radio" ng-submit="radio.next()">
  <fieldset class="form__section" >
    <legend class="form__title">{{::info.label}}</legend>
    <p ng-hide="!info.help">{{::info.help}}</p>
    <div class="form__group">
      <p ng-if="radio.error" class="form__desc--error">{{radio.error}}</p>
      <p class="form__line" ng-repeat="choice in info.choices">
        <input class="form__input form__input-radio"
               type="radio"
               name="{{::info.name}}"
               id="{{::choice.key}}"
               value="{{::choice.key}}"
               ng-model="radio.choice"
               ng-value="[info.name, choice.key]"
        />
        <label class="form__label" for="{{::choice.key}}">{{::choice.name}}</label>
        <span class="form__desc form__desc--expandable">{{::choice.desc}}</span>
      </p>
    </div>
    <p class="form__group form__group--last">
      <step-button></step-button>
    </p>
  </fieldset>
</form>
